extends layout

include mixins/inputField

block content
  .max-w-sm.mx-auto
    h1.text-2xl.font-bold.mb-7= title

    form.flex.flex-col.gap-6(action="/login" method="post")
      +inputField('Username')(value=username name="username" type="text" maxlength="25" required autocomplete="nickname")
      +inputField('Password')(value=password name="password" type="password" placeholder="Must be at least 6 characters" minlength="6" required autocomplete="current-password")

      p.text-red-600=error

      button.p-2.bg-blue-500.font-bold.rounded-md(class="text-white/90" type="submit")= title
      p.text-center No Account? #[a.text-green-600.font-bold(href="/sign-up") Create One]   
