extends layout

include mixins/inputField

block content
  if user && (user.membershipStatus == "member" || user.membershipStatus == "admin") 
    .max-w-sm.mx-auto
      h1.text-2xl.font-bold.mb-3.border-b.pb-4(class="border-b-indigo-500/70")= title

      form.flex.flex-col.gap-6(action="/new-message" method="post")
        +inputField('Title', errors.title)(value=message.title name="title" type="text" placeholder="Enter a title" required)
        +inputField('Message Text', errors.text)(value=message.text name="text" type="textarea" placeholder="Enter a message" required)

        p.text-red-600=error

        button.p-2.bg-indigo-500.font-bold.rounded-md(class="text-white/90" type="submit")= title
  else
    p.text-center.text-red-600.font-bold You must #[a.underline(href="/user/become-a-member") become a member] to create messages.