extends layout

include mixins/inputField

block content
  .max-w-sm.mx-auto
    h1.text-2xl.font-bold.mb-3.border-b.pb-4(class="border-b-indigo-500/70")= title

    form.flex.flex-col.gap-6.max-w-sm(action="/sign-up" method="post" enctype="multipart/form-data")
      +inputField('Email address', errors.email)(value=email name="email" type="email" placeholder="example@example.com" required)
      +inputField('Username', errors.username)(value=username name="username" type="text" maxlength="25" required autocomplete="nickname")
      +inputField('Display name', errors.displayName)(value=displayName name="displayName" type="text" placeholder="e.g. Jimmy" required)
      +inputField("Profile picture", errors.profilePicture)(value=profilePicture name="profilePicture" type="file" accept="image/*")
      +inputField('Password', errors.password || errors.confirmPassword)(value=password name="password" type="password" placeholder="Must be at least 6 characters" minlength="6" required autocomplete="new-password")
      +inputField('Confirm Password', errors.confirmPassword)(value=confirmPassword name="confirmPassword" type="password" placeholder="Confirm your password" minlength="6" required autocomplete="new-password")

      button.p-2.bg-indigo-500.font-bold.rounded-md(class="text-white/90" type="submit")= title

      p.text-center Already have an account? #[a.text-indigo-500.font-bold(href="/login") Login]   
