mixin inputField(labelText, error)
  div
    label.flex.flex-col.gap-2.group
      strong(class=error ? "text-red-600" : "") #{ labelText }
        = " "
        if !attributes.required
          span.text-gray-400.text-sm.font-normal (optional)
        else
          span.text-red-600.text-sm.font-normal *

      if attributes.type == 'textarea'
        textarea.shadow-sm.border-gray-200.rounded-md.w-full.pr-7.transition.duration-200(
          class=`focus:outline-none focus:border-transparent ${error ? "border-red-600 bg-red-50 focus:shadow-[0px_2.5px_5px_2.5px_rgba(239,68,68,0.125)] focus:ring-red-600" : "bg-slate-100 focus:ring-indigo-500 hover:shadow-[0px_0px_3px_#6467f2]"}`
        )&attributes(attributes)=attributes.value
      else
        .relative
          input.peer.shadow-sm.border-gray-200.rounded-md.w-full.pr-7.transition.duration-200(
            class=`focus:outline-none focus:border-transparent ${error ? "border-red-600 bg-red-50 focus:shadow-[0px_2.5px_5px_2.5px_rgba(239,68,68,0.125)] focus:ring-red-600" : "bg-slate-100 focus:ring-indigo-500 hover:shadow-[0px_0px_3px_#6467f2]"}`
          )&attributes(attributes)

          if (attributes.type == 'password')
            button.absolute.right-1.z-10.mt-2.p-1.text-sm.toggle-pass-visible(type="button" class="transition duration-200 opacity-0 group-hover:opacity-100 peer-focus:opacity-100 focus:opacity-100")
              i.fa.fa-eye(aria-hidden='true')

    if error
      p.text-sm.pl-2.mt-2.text-red-600
        i.fa.fa-warning.mr-2(aria-hidden='true')
        span=error.msg