mixin inputField(labelText, error)
  div
    label.flex.flex-col.gap-2.group
      strong(class=error ? "text-red-600" : "") #{ labelText }
        = " "
        if !attributes.required
          span.text-gray-400.text-sm.font-normal (optional)
        else
          span.text-red-600.text-sm.font-normal *

      if attributes.type == 'textarea'
        textarea.shadow-sm.border-gray-200.rounded-md(
          class=`${error ? "border-red-600 focus:ring-red-600 focus:border-red-600" : "focus:ring-opacity-50 focus:ring-sky-200 dark:border-zinc-800 dark:focus:ring-blue-300"} dark:bg-dark-secondary`
        )&attributes(attributes)= attributes.value
      else
      .relative
        input.peer.shadow-sm.border-gray-200.rounded-md.w-full.pr-7(
          class=`${error ? "border-red-600 focus:ring-red-600 focus:border-red-600" : "focus:ring-opacity-50 focus:ring-sky-200 dark:border-zinc-800 dark:focus:ring-blue-300"} dark:bg-dark-secondary`
        )&attributes(attributes)

        if (attributes.type == 'password')
          button.absolute.right-1.z-10.mt-2.p-1.text-sm.toggle-pass-visible(type="button" class="transition duration-200 opacity-0 group-hover:opacity-100 peer-focus:opacity-100 focus:opacity-100")
            i.fa.fa-eye(aria-hidden='true')

    if error
      p.text-sm.pl-2.mt-2.text-red-600
        i.fa.fa-warning.mr-2(aria-hidden='true')
        span=error.msg